requests
pytest
pyautogui
fastapi
pillow
google-generativeai
py-applescript
openai
ollama
google.ai.generativelanguage
click
pydantic
uvicorn
pyaml
pre-commit
black
mlx==0.29.4
mlx-vlm==0.1.4
gradio
anthropic
